<div class="main-container">
  <div class="map-filter-container">
    <div class="row">
      <div class="col-2">
        <ng-select
          class="zone-filter"
          [(ngModel)]="selectedFilterZone"
          [items]="zones"
          bindLabel="name"
          (change)="selectZone(selectedFilterZone)"
          placeholder="Strefa">
        </ng-select>
      </div>
      <div *ngIf="timeCycle" class="col-2">
        <div *ngIf="timeCycle.currentTimeOfDay == 'NIGHT'">
          Time cycle
          <img style="background: #1E90FF; border: #4efaff 1px solid" ngSrc="/map/moon-icon.svg" height="30" width="30" alt="">
           left {{timeCycle.minutesUntilNextCycle}} min
        </div>
        <div *ngIf="timeCycle.currentTimeOfDay == 'DAY'">
          Time cycle
          <img style="background: #1E90FF; border: #4efaff 1px solid" ngSrc="/map/sun-icon.svg" height="30" width="30" alt="">
          left {{timeCycle.minutesUntilNextCycle}} min
        </div>
      </div>
    </div>

  </div>

  <div class="map-wrapper">
    <div class="map-container"
         (mousedown)="startDrag($event)"
         (mousemove)="onDrag($event)"
         (mouseup)="endDrag()"
         (mouseleave)="endDrag()"
         [style.transform]="mapTransform">
      <img #mapImg priority ngSrc="/map/world-map.svg" alt="World Map" height="2000" width="4000"/>


      <div *ngFor="let zone of zones; let i = index"
           class="zone"
           [style.top.px]="zone.positionY"
           [style.left.px]="zone.positionX"
           (click)="selectZone(zone); modal.show()">

        <div style="display: flex; align-items: center;">
          <!-- p element takes available space and centers text -->
          <p style="margin: 0; flex: 1; text-align: center;">
            {{ zone.name }}
          </p>
          <!-- images container (optional gap added for spacing) -->
          <div style="display: flex; gap: 5px;">
            <ng-container *ngFor="let zoneStatus of zone.statuses">
              <img [ngSrc]="getZoneIconPath(zoneStatus.name)" height="20" width="20" alt="">
            </ng-container>
          </div>
        </div>





        <div>
          <!--item image loader-->
          <div class="container-loader" *ngIf="!isZoneImgLoadedList[i]">
            <div class="spinner"></div>
          </div>

          <img
            class="zone-img"
            ngSrc="/map/{{zone.iconPath}}"
            alt="Forest zone"
            height="100"
            width="100"
            (load)="onZoneImgLoad(i)"> <!-- Pass the correct index -->
        </div>

      </div>

    </div>
  </div>



  <app-center-modal [isOpen]="showModal" (closed)="onModalClose()" #modal>
    <h1 style="color: #1e1e2e">{{selectedZone?.name}}</h1>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Location</th>
        <th scope="col">Level</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let location of selectedZone?.locations">
        <tr (click)="onLocationClicked(location)" class="location-row">
          <td>{{ location.name }}</td>
          <td>{{ location.minEnemyLevel }} - {{location.maxEnemyLevel}}</td>
        </tr>
        <tr *ngIf="selectedLocation === location" class="info-row">
          <td colspan="1">
            <div class="info-panel">
              <p>More details about {{ selectedLocation.name }}...</p>
              <button (click)="onEnterLocationClicked()" class="btn btn-secondary">ENTER</button>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </app-center-modal>

</div>





