<div class="container-fluid  d-flex flex-column">
  <div class="row flex-grow-2">
    <div class="col-12 top-panel d-flex justify-content-center align-items-center">
      <h3>{{zone?.name}} {{location?.name}}</h3>
    </div>
  </div>

  <div class="row flex-grow-6">
    <div class="col-12 middle-panel">
      <!-- Main content container -->
      <div class="row">
        <div class="col-6">
          <div *ngIf="character && character.characterStats" class="player-card card float-start">
            <img class="character-img"  ngSrc="/enemies/" alt="Player Character" height="400" width="200">
            <img *ngIf="character!.equipment && isPlayerAttacking"
                 [class.moving-svg]="isPlayerAttacking"
                 ngSrc="/icons/items/{{itemTypeService.getItemIconPath(character!.equipment!.mainHand!)}}"
                 alt=""
                 height="100" width="100">
            <div style="width: 100%;" class="card-body">
              <h5 class="card-title">{{character.name}}</h5>

              <div class="health-bar-container">
                <div class="health-bar" [ngStyle]="{ 'width': getHealthPercentage(character.characterStats.currentHealth, character.characterStats.maxHealth) + '%' }">
                  <p class="health-text">
                    {{ character.characterStats.currentHealth }} / {{ character.characterStats.maxHealth }}
                  </p>
                </div>
              </div>

              <div style="margin-top: 3px" class="experience-bar-container">
                <div class="experience-bar" [ngStyle]="{ 'width': getExperiencePercentage() + '%' }">
                  <p class="experience-text">
                    {{ character.experience }} / {{ character.nextLevelExperience }}
                  </p>
                </div>
              </div>

              <p class="card-text">
                <strong>Armor:</strong> {{character.characterStats.defense}} <br>
                <strong>Attack:</strong>  {{character.characterStats.attack}} <br>
                <strong>Level:</strong>  {{character.level}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div *ngIf="enemy && enemy.template" class="enemy-card card float-end">

            <div class="container-loader" *ngIf="!isEnemyImageLoaded">
              <div class="spinner"></div>
            </div>

            <img
              class="character-img"
              ngSrc="/enemies/{{enemy.template.iconPath}}"
              alt="Enemy Character"
              height="400" width="200"
              (load)="onEnemyImageLoaded()">
            <img *ngIf="enemy && isEnemyAttacking"
                 [class.moving-svg-enemy]="isEnemyAttacking"
                 ngSrc="/icons/items/{{itemTypeService.getItemIconPath(character!.equipment!.mainHand!)}}"
                 alt=""
                 height="100" width="100">
              <div style="width: 100%;" class="card-body">
                <h5 [ngClass]="getRankClass(enemy.rank)">
                  {{ enemy.template.name }}
                </h5>

                <div class="health-bar-container">
                  <div class="health-bar" [ngStyle]="{ 'width': getHealthPercentage(enemy.currentHealth, enemy.maxHealth) + '%' }">
                    <p class="health-text">
                      {{ enemy.currentHealth }} / {{ enemy.maxHealth }}
                    </p>
                  </div>
                </div>
                <p >
                  <strong>Armor:</strong> {{ enemy.currentArmor }}<br>
                  <strong>Attack:</strong> {{ enemy.currentAttack }}<br>
                  <strong>Level:</strong> {{ enemy.level }}
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row flex-grow-4">
    <div class="col-12 bottom-panel">
      <div class="row">
        <div class="col-1">
          <button [disabled]="isPlayerInCombat" (click)="generateEnemy()" class="btn btn-success generate-enemy-button">GENERATE ENEMY</button>
        </div>
        <div class="col-1">
          <button *ngIf="enemy" [disabled]="enemy.currentHealth <= 0 || isPlayerInCombat" (click)="startCombat()" class="btn btn-danger generate-enemy-button">START COMBAT</button>
        </div>
        <div class="item-drop-container col-2">

        </div>
        <div style="overflow-x: hidden; overflow-y: hidden; max-width: 100%;" class="col-4">
          <app-character-inventory></app-character-inventory>
        </div>

        <div class="col-4">
          <textarea class="form-control combat-log-textarea" readonly rows="7">{{combatLog}}</textarea>

        </div>
        </div>




    </div>
  </div>
</div>



