<div class="container">

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">E-mail</th>
      <th scope="col">Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td><p class="role-text" *ngFor="let role of user.roles">
        {{role.name}}
      </p></td>
    </tr>
    </tbody>
  </table>

</div>
