.nav-item {
  position: relative;
}

img.gold-icon {
  filter: invert(75%) sepia(50%) saturate(300%) hue-rotate(10deg);
}

.inline-container {
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 4px; /* Adjust spacing between icon and text */
}
.inline-container img,
.inline-container p {
  margin: 0;
  padding: 0;
  line-height: 1; /* Prevent extra space from text */
}


.dropdown-menu-custom {
  position: absolute;
  background: #afafaf;
  border: 1px solid #4efaff;
  list-style: none;
  margin-right: 5px;
  /*padding: 5px 0;*/
  margin-top: 7px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  /*border-radius: 5px;*/
  max-width: 50px;
  z-index: 1000;
  left: -80px;
}

.dropdown-item-custom:hover .dropdown-menu-custom {
  display: block; /* Show when hovered */
}

.dropdown-item-custom {
  padding: 10px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-item-custom:hover {
  background: #737373;
}
